*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: darkslategray;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar a:hover {
    background: midnightblue;
}

.header {
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(arte-barco-pintura-sirenas-wallpaper-preview.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 4px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: antiquewhite;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: antiquewhite;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ff3300;
    color: antiquewhite;
    text-decoration: none;
    background: #ff3300;
}

.btn:hover{
    background: none;

}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 110px;
    background: darkgreen;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 15rem;
    width: 17rem;
    background: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(0, 0, 0);
    margin: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.box-container.box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: antiquewhite;
    background: #ff3300;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #ff3300;

}

.box-container.box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #101010;
}

.price {
    background: url(descarga\ \(1\).jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 100px;
    background: rgb(0, 71, 0);
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }


}

